<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- Prevents use of Windows Visual Studio fallback package folders on Linux builders -->
  <fallbackPackageFolders />
  <config>
    <!-- Ensure packages restore into the Linux-friendly folder the builder already uses -->
    <add key="globalPackagesFolder" value="/root/.nuget/packages" />
  </config>
</configuration>
